/*      Max Width : 768px        */
@media (min-width: 425px) and (max-width: 768px) {
    body, html {
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 0;
        height: 50px;
    }

    .main-contain {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        /* padding: 10px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: 100%;
    }
    .logo .logo-Google {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    .two-element {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .two-element .box-button {
        width: 100%;
    }
    .two-element .box-button .search-box {
        width: 100%;
    }
    .two-element .box-button .search-box .search-tab {
        width: 100%;
        height: 100%;
        cursor: text;
    }
    .two-element .google-lucky .for-both {
        display: flex;
    }

    .footer .footer-grid .footer-below {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

@media (max-width: 425px) {
    .logo .logo-Google {
        font-size: 35px;
    }
    
    .two-element .box-button {
        width: 100%;
        margin: 0;
    }
    .two-element .box-button .search-box {
        width: 100%;
    }
    .two-element .box-button .search-box .right .for-ai button {
        width: 40px;
        height: 4   0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .two-element .box-button .search-box .right .for-ai .ai-mode {
        padding: 0;
    }
    .two-element .box-button .search-box .right .for-ai span {
        display: none;
    }

    .two-element .google-lucky .for-both {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .two-element .google-lucky .for-both button{
        width: 40%;
    }

}